<head>
  <%= stylesheet_link_tag 'bootstrap.scss' %>
  <%= stylesheet_link_tag 'round-about.scss' %>
</head>
<!-- Page Content -->
<div class="container">
<!-- Introduction Row -->

<div class ="row">
  <div class="col-lg-10">
    
  </div>
  
</div>
  


</div>


   <%= javascript_include_tag('introduction.js') %>