<main class="apply_club">
  <div class="apply-page">
    <div id="image_container_club">
    <%= image_tag "ajouclub.png", class: "logo_club" %>
    </div>
   
    <div class="form">
        <div class="form-group">
          <%= render 'form' %>	
        </div>
    </div>
   
  </div>
</main>