<body>
	<div id="popup1" class="overlay">
		<div class="popup">
			<h2>동아리 가입 신청</h2>
			<a class="close" href="#">&times;</a>
		<form>
			<input class="name" type="text" placeholder="이름">
			<input class="phone" type="string" placeholder="전화번호">
			<button>신청하기</button>
		</form>
		</div>
	</div>
</body>

